body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.portfolio {
  margin: 0 auto;
}

.content-card {
  border-radius: 10px;
  margin: 20px 0;
}

.light-theme {
  background-color: #fff;
  color: #333;
  .content-card {
    background-color: #eee;
  }
}

.dark-theme {
  background-color: #111;
  color: #fff;
  .content-card {
    background-color: #333;
  }
  .navbar {
    background-color: #222;
  }
}
